// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

body {
  font-family: $font-family-sans-serif;
  padding-top: 3.3rem;
}

@include media-breakpoint-up(md) {
  body {
    padding-top: 3.5rem;
  }
}
